body {
  width: 240px;
  padding: 15px;
}

.btn {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #41B617;
  border-radius: 3px;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.error {
  background-color: #FC9A24;
}

.saved li {
  position: relative;
  margin-left: -30px;
  list-style-type: none;
  font-size: 16px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #e3e3e3;
}

.saved li a {
  display: block;
  padding: 5px 0;
  text-decoration: none;
  color: #0D2DA4;
}

.saved li a:hover {
  text-decoration: underline;
}

.delete {
  display: inline-block;
  position: absolute;
  top: 8px;
  left: -25px;
  width: 16px;
  height: 16px;
  background: url('../images/delete.gif') no-repeat;
  background-size: 85%;
  cursor: pointer;
  opacity: 0.4;
}

.delete:hover {
  opacity: 0.8;
}